<div class="container">
    <div class="col-lg-12" ng-repeat="x in hondaes">
        <div class="col-lg-5 col-md-5 col-sm-12">
            <img ng-src={{x.src}} class="img-responsive" style="width: 90%">
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">
            <h3><strong style="color: #2e6da4">{{x.name}}</strong></h3>
            <ul>
                <li ng-repeat="y in x.detail" class="glyphicon glyphicon-chevron-right"> {{y.content}} </li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
            <h1 style="color: #2e6da4">{{x.price}}</h1>
            <button><a href="{{x.href}}">VIEW MORE INFORMATION</a></button>
        </div>
    </div>
</div>
