<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OFFERS</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <script src="./angular/angular.min.js"></script>
    <script src="./bootstrap/js/jquery-3.2.1.min.js"></script>
    <!--<script src="./bootstrap/js/bootstrap.min.js"></script>-->
    <!--<link href="./mycss/mycss.css" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    <script src="./myjs/offers.js" type="text/javascript">

    </script>
</head>
<body ng-app="myFirstApp" ng-controller="myCtr">
<div class="container">
    <div class="col-lg-12" ng-repeat="x in suzukies" style="border: 1px solid gray">
         <div class="col-lg-4">
             <img src="{{x.src}}" class="img-responsive">
         </div>
         <div class="col-lg-6">
             <h3><strong style="color: #2e6da4">{{x.name}}</strong></h3>
             <ul>
                 <li ng-repeat="y in x.detail" class="glyphicon glyphicon-chevron-right"> {{y.content}} </li>
            </ul>
        </div>
        <div class="col-lg-2">
            <h1 style="color: #2e6da4">{{x.price}}</h1>
            <button><a href="{{x.href}}">VIEW MORE INFORMATION</a></button>
        </div>
    </div>
</div>
</body>
</html>