<!--<div class="jumbotron text-center">-->
	<!--<h1>Nerds and Proud</h1>-->

	<!--<p>{{ tagline }}</p>-->
<!--</div>-->
<div nav-bar class="navbar navbar-fixed-top"></div>
<div class="container" style="padding-top: 70px">

	<div class="jumbotron">
		<h1><i class="fa fa-newspaper-o" aria-hidden="true"></i> News & Events </h1>
		<p>The latest bike news, motorcycle industry updates, launches from the Vietnam and around the world; keep you well-informed and up-to-date</p>
	</div>

	<!--<div class="row collapse-sides">-->
	<div class="row" >
		<div ng-repeat="x in myData">

			<div class="col-lg-4 col-sm-12">
				<div class="thumbnail">
					<img  src="{{x.image}} ">
					<div class="caption">
						<h3 class="fontNew">
							<a href="/news/single-page-news-01" role="button" class=""> {{x.title}} </a>
						</h3>
					</div>
				</div>
			</div>


		</div>



		<!--<div class="col-lg-4 col-sm-12">-->
		<!--<div class="thumbnail">-->
		<!--<img src="">-->
		<!--<div class="caption">-->
		<!--<h3 class="textNew">-->
		<!--<a href="#" role="button" class="fontNew"></a>-->
		<!--</h3>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->

		<!--<div class="col-lg-4 col-sm-12">-->
		<!--<div class="thumbnail">-->
		<!--<img src="">-->
		<!--<div class="caption">-->
		<!--<h3 class="textNew">-->
		<!--<a href="#" role="button" class="fontNew"></a>-->
		<!--</h3>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;</div>&ndash;&gt;-->

		<!--&lt;!&ndash;<div class="row collapse-sides">&ndash;&gt;-->
		<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
		<!--<div class="col-lg-4 col-sm-12">-->
		<!--<div class="thumbnail">-->
		<!--<img src="">-->
		<!--<div class="caption">-->
		<!--<h3 class="textNew">-->
		<!--<a href="#" role="button" class="fontNew"></a>-->
		<!--</h3>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->

		<!--<div class="col-lg-4 col-sm-12">-->
		<!--<div class="thumbnail">-->
		<!--<img src="">-->
		<!--<div class="caption">-->
		<!--<h3 class="textNew">-->
		<!--<a href="#" role="button" class="fontNew"></a>-->
		<!--</h3>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->

		<!--<div class="col-lg-4 col-sm-12">-->
		<!--<div class="thumbnail">-->
		<!--<img src="">-->
		<!--<div class="caption">-->
		<!--<h3 class="textNew">-->
		<!--<a href="#" role="button" class="fontNew"></a>-->
		<!--</h3>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;</div>&ndash;&gt;-->

		<!--&lt;!&ndash;<div class="row collapse-sides">&ndash;&gt;-->
		<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
		<!--<div class="col-lg-4 col-sm-12">-->
		<!--<div class="thumbnail">-->
		<!--<img src="">-->
		<!--<div class="caption">-->
		<!--<h3 class="textNew">-->
		<!--<a href="#" role="button" class="fontNew"></a>-->
		<!--</h3>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->

		<!--<div class="col-lg-4 col-sm-12">-->
		<!--<div class="thumbnail">-->
		<!--<img src="">-->
		<!--<div class="caption">-->
		<!--<h3 class="textNew">-->
		<!--<a href="#" role="button" class="fontNew"></a>-->
		<!--</h3>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->

		<!--<div class="col-lg-4 col-sm-12">-->
		<!--<div class="thumbnail">-->
		<!--<img src="">-->
		<!--<div class="caption">-->
		<!--<h3 class="textNew">-->
		<!--<a href="#" role="button" class="fontNew"></a>-->
		<!--</h3>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->

		<!--<div class="col-lg-4 col-sm-12">-->
		<!--<div class="thumbnail">-->
		<!--<img src="">-->
		<!--<div class="caption">-->
		<!--<h3 class="textNew">-->
		<!--<a href="#" role="button" class="fontNew"></a>-->
		<!--</h3>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
	</div>
</div>