<!--<div class="jumbotron text-center">-->
	<!--<h1>Geek City</h1>-->

	<!--<p>{{ tagline }}</p>-->
<!--</div>-->
<div nav-bar class="navbar navbar-fixed-top"></div>

<div style="width: 100%; height: 500px; background-image: url('../images/background/bmw.jpg');background-size: cover;
    background-repeat: no-repeat;
    background-position: center;">
	<div class="container">
		<h1 style="color: white; margin: auto; text-transform: uppercase; position: relative; top: 400px; font-weight: 600; font-size: 80px; letter-spacing: 6px">bmw</h1>
	</div>
</div>


<div class="container" style="margin-top: 20px" >
	<div class="row">
		<div class="col-md-4 col-sm-12">
			<img src="../images/BMW/bmw-1.jpg" >
		</div>
		<div class="col-md-4 col-sm-12">
			<h1 style="font-family: 'Archivo Black', sans-serif;" >BMW S1000RR</h1>
			<div class="listImage">
				<ul >
					<li>Liquid-cooled 4-stroke in-line 4-cylinder engine</li>
					<li>Rated output 199 hp (146 kW) at 13,500 rpm</li>
					<li>Max. torque 83 lb-ft (113 Nm) at 10,500 rpm</li>
					<li>Capacity 999 cc</li>
				</ul>
			</div>
		</div>
		<div class="col-md-4 col-sm-12">
			<h1><strong>$15,995</strong> <span style="font-size: 18px">(including ABS)</span></h1>
			<a href="/offers/bmw-01" class="btn btn-info">View more information</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-sm-12">
			<img src="../images/BMW/bmw-2.jpg" >
		</div>
		<div class="col-md-4 col-sm-12">
			<h1 style="font-family: 'Archivo Black', sans-serif;" >BMW R1200GS</h1>
			<div class="listImage">
				<ul >
					<li>Air/liquid-cooled 4-stroke flat twin engine</li>
					<li>Rated output 125 hp (92 kW) at 7,750 rpm</li>
					<li>Max. torque	92 lb-ft (125 Nm) at 6,500 rpm</li>
					<li>Capacity 1,170 cc</li>
				</ul>
			</div>
		</div>
		<div class="col-md-4 col-sm-12">
			<h1><strong>$16,695</strong> <span style="font-size: 18px">(including ABS)</span></h1>
			<p></p>
			<a href="/" class="btn btn-info">View more information</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-sm-12">
			<img src="../images/BMW/bmw-3.jpg" >
		</div>
		<div class="col-md-4 col-sm-12">
			<h1 style="font-family: 'Archivo Black', sans-serif;" >BMW F800GS </h1>
			<div class="listImage">
				<ul >
					<li>Liquid cooled, 4-stroke parallel twin engine,</li>
					<li>Rated output 85 hp (63 kW) at 7,500 rpm/li>
					<li>Max. torque	61 lb-ft (83 Nm) at 5,750 rpm</li>
					<li>Capacity 798 cc</li>
				</ul>
			</div>
		</div>
		<div class="col-md-4 col-sm-12">
			<h1><strong>$13,895</strong> <span style="font-size: 18px">(including ABS)</span></h1>
			<p></p>
			<a href="/" class="btn btn-info">View more information</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-sm-12">
			<img src="../images/BMW/bmw-4.jpg" >
		</div>
		<div class="col-md-4 col-sm-12">
			<h1 style="font-family: 'Archivo Black', sans-serif;" >BMW F700GS</h1>
			<div class="listImage">
				<ul >
					<li>Liquid cooled, 4-stroke parallel twin engine,</li>
					<li>Rated output 75 hp (55 kW) at 7,000 rpm</li>
					<li>Max. torque	57 lb-ft (77 Nm) at 5,500 rpm </li>
					<li>Capacity 798 cc</li>
				</ul>
			</div>
		</div>
		<div class="col-md-4 col-sm-12">
			<h1><strong>$9,995</strong> <span style="font-size: 18px">(including ABS)</span></h1>
			<p></p>
			<a href="/" class="btn btn-info">View more information</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-sm-12">
			<img src="../images/BMW/bmw-5.jpg" >
		</div>
		<div class="col-md-4 col-sm-12">
			<h1 style="font-family: 'Archivo Black', sans-serif;" >BMW S1000R</h1>
			<div class="listImage">
				<ul >
					<li>Liquid-cooled 4-stroke in-line 4-cylinder engine</li>
					<li>Rated output 165 hp (121 kW) at 11,000 rpm</li>
					<li>Max. torque	84 lb-ft (114 Nm) at 9,250 rpm</li>
					<li>Capacity 999 cc</li>
				</ul>
			</div>
		</div>
		<div class="col-md-4 col-sm-12">
			<h1><strong>$13,995</strong> <span style="font-size: 18px">(including ABS)</span></h1>
			<p></p>
			<a href="/" class="btn btn-info">View more information</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-sm-12">
			<img src="../images/BMW/bmw-6.jpg" >
		</div>
		<div class="col-md-4 col-sm-12">
			<h1 style="font-family: 'Archivo Black', sans-serif;" >HP4 RACE</h1>
			<div class="listImage">
				<ul >
					<li>Water/oil-cooled 4-cylinder four-stroke in-line engine</li>
					<li>Rated output 215 hp (158 kW) at 13,900 rpm</li>
					<li>Max. torque	88 lb-ft (120 Nm) at 10,000 rpm</li>
					<li>Capacity 999 cc</li>
				</ul>
			</div>
		</div>
		<div class="col-md-4 col-sm-12">
			<h1><strong>$78,000</strong> <span style="font-size: 18px">(including ABS)</span></h1>
			<p></p>
			<a href="/" class="btn btn-info">View more information</a>
		</div>
	</div>
</div>
