


<div nav-bar class="navbar navbar-fixed-top"></div>

<div class="container" style="margin-top: 70px">
            <section class="section_header">
                <h2 class="section_header_headline"> <strong> Ready Honda 150SS Racer Concept Unveiled In Thailand </strong> </h2>
                <p class="section_header_excerpt">Honda has unveiled the new Honda CB150R in Thailand, The Honda 150SS Racer Concept.</p>
            </section>

    <div class ="row">
        <div class="col-sm-12 col-md-9">
            <div>
                <video controls width="100%"  >
                    <source src="../video/2018%20new%20Honda%20CB150R%20(Thailand)%20promo%20video.mp4" type="video/mp4">
                </video>
            </div>
            <p class="newsContent-text">
                Honda has dwelled deeper into the concept realm by introducing the 150SS Racer motorcycle. The concept machine was on display at the 2017 Bangkok Motor Show that opens its doors yesterday and will end on 9 April 2017.
            </p>

            <div class="newsThumbnail-img">
                <img src="../images/1-1-Honda-150SS-RACER-Bangkok-Motor-Show-Thailand-07.jpg"  alt="">
            </div>
            <p class="newsContent-text">
                It’s clearly seen, recognised and connected to the ever popular Honda Grom or MSX 125 here in Malaysia. Looking at the 150SS RACER, it is positive that Honda Thailand has brought to life something that most of us dream about when it comes to the perfect idea of a motorcycle.
            </p>

            <div class="newsThumbnail-img">
                <img src="../images/1-2-Honda-150SS-RACER-Bangkok-Motor-Show-Thailand-01.jpg"  alt="">
            </div>
            <p class="newsContent-text">
                Although the Grom or MSX 125 is a hit and miss for some folks, it’s hard to deny the beauty of this concept Honda machinery. First and foremost, the use of silver metallic paint job with a hint of blue carries the futuristic persona brilliantly. Clear see-through panels at the Yamaha R1-like tail bring the whole package together without being out of place.
            </p>

            <div class="newsThumbnail-img">
                <img src="../images/1-3-Honda-150SS-RACER-Bangkok-Motor-Show-Thailand-04.jpg"  alt="">
            </div>
            <p class="newsContent-text">
                Solid wheels made out of carbon fibre wrapped with Metzeler slicks give the 150SS RACER a jaw-dropping facade that looks good enough to be on a bedroom poster wall. Solid brake rotors are also thrown into the mix to flush in together with the disc wheels.
            </p>

            <div class="newsThumbnail-img">
                <img src="../images/1-4-Honda-150SS-RACER-Bangkok-Motor-Show-Thailand-08.jpg"  alt="">
            </div>
            <p class="newsContent-text">
                Honda Thailand took a step further by implementing some cafe racer accents (or naked bikes like the Ducati Monster depending on who’s looking) into the concept with a round headlight at the front and an almost straight handlebar we’re guessing to give the bike better handling and manoeuvrability.
            </p>

            <div class="newsThumbnail-img">
                <img src="../images/1-5-Honda-150SS-RACER-Bangkok-Motor-Show-Thailand-06.jpg"  alt="">
            </div>
            <p class="newsContent-text">
                According to the name, we can safely assume that the 150SS RACER borrows the engine taken from either the Grom or the RS150R. No figures were given about the concept but the exhaust on the other hand is as awesome as it gets. Talking about it won’t do the design any justice. Just take a look and you’ll understand why.
            </p>

            <div class="newsThumbnail-img">
                <img src="../images/1-6-Honda-150SS-RACER-Bangkok-Motor-Show-Thailand-05.jpg"  alt="">
            </div>
            <p class="newsContent-text">
                Since it’s concept race bike, it makes sense (sort of) to install a gyrocam on the futuristic race machine like the ones found on MotoGP bikes. It’s not much but these little things are what excite us the most. Honda Thailand did a great job in this concept and only time will tell if it will be brought into production.
            </p>
        </div>


        <div class="col-sm-12 col-md-3" >
            <p class="section_header_headline" > <strong>Popular Tags </strong> </p>

            <div class="thumbnail">
                <img  src="../images/1-honda-cb150r_827x510_71504613768.jpg" title="To the news">
                <div class="caption">
                    <h3  class="fontNew" >
                        <a href="/news/single-page-news-01" role="button"> Production-Ready Honda 150SS Racer Concept Unveiled In Thailand </a>
                    </h3>
                </div>
            </div>

            <div class="thumbnail">
                <img  src="../images/2-SuperCub110Concepts.jpg" title="To the news">
                <div class="caption">
                    <h3  class="fontNew" >
                        <a href="/news/single-page-news-01" role="button"> Honda will unveil Riding Assist-e concept at the Tokyo Motor Show </a>
                    </h3>
                </div>
            </div>

            <div class="thumbnail">
                <img  src="../images/3-friday-motogp-practice-mugello-1.jpg" title="To the news">
                <div class="caption">
                    <h3  class="fontNew" >
                        <a href="/news/single-page-news-01" role="button"> MotoGP 2017: Dovizioso Keeps Title Fight Alive With Malaysian GP Victory </a>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <!--comment-->
    <hr>
    <h3> <strong>Leave your comment ({{ commentSinglePageNews01.length }})</strong> </h3>
    <div class="row">
        <div  class="col-sm-9">
            <form class="form-horizontal"  name="commentForm">

                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Comment</label>
                    <div class="col-sm-10">
                        <textarea required ng-pattern="/^[a-zA-Z0-9\W]*$/" ng-model="commentSinglePageNews01Data.text" id="email" class="form-control" name="addComment" rows="5" placeholder="Write your comments here"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Name" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10" >
                        <input required ng-pattern="/^[a-zA-Z]*$/" ng-model="commentSinglePageNews01Data.author"  type="text" id="Name"  class="form-control" placeholder="Your name" >
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-click="commentForm.$valid && createCommentSinglePageNews01()" class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> Summit comment</button>
                    </div>
                </div>
                <div class="alert alert-warning" role="alert" ng-show="commentForm.$dirty && !commentForm.$valid">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Please finished fill in the form with English word and don't use number for Name.
                </div>
            </form>
        </div>
    </div>

    <div class="container"  ng-repeat="comment in commentSinglePageNews01">
        <div class="row">
            <div class="col-sm-9">
                <div class="panel panel-white post panel-shadow">
                    <div class="post-heading">
                        <div class="pull-left image">
                            <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                        </div>
                        <div class="pull-left meta">
                            <div class="title h5">
                                <a href="#"><b>{{comment.author}}</b></a>
                                made a post.
                            </div>
                            <h6 class="text-muted time">1 minute ago</h6>
                        </div>
                    </div>
                    <div class="post-description">
                        <p>{{comment.text}}</p>
                        <div class="stats">
                            <a href="#" class="btn btn-default stat-item">
                                <i class="fa fa-thumbs-up icon"></i>12
                            </a>
                            <a href="#" class="btn btn-default stat-item">
                                <i class="fa fa-thumbs-down icon"></i>2
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

