#cover {
    background: url('../images/background_02.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;

}
#cover-caption {
    width: 100%;
}
.slogan {
    font-size: 5.5rem;
    font-weight: 600;
}
