<div nav-bar class="navbar navbar-fixed-top"></div>

<div class="container"  style="margin-top: 70px">
    <p>
        <input style="width: 300px" ng-model="search" type="text" class="form-control" placeholder="Search For Product" size="15">
    </p>

    <table class="table table-hover">
        <tr>
            <td></td>
            <td class="tdCenter"><strong>Description</strong></td>
            <td class="tdCenter"><strong>Price</strong></td>
            <td></td>
        </tr>
        <div class="row">
        <tr ng-repeat="product in store.products.bmws | filter:search" >
            <td class="col-sm-3 tdCenter img-hide"> <img ng-src="../../images/bmw/{{product.image}}.jpg" alt="{{product.name}}" /></td>
            <td class="col-sm-3 ">
                <a href="/products/{{product.branch}}"><b>{{product.name}}</b></a><br />
                <div ng-repeat="a in product.description">
                    <ul>
                        <li>{{a.content}}</li>
                    </ul>
                </div>
            </td>
            <td class="col-sm-3 tdCenter">
                {{product.price | currency}}
            </td>
            <td class="col-sm-3 tdCenter">
                <a href="" ng-click="cart.addItem(product.branch, product.name, product.price, 1)" class="btn btn-success">
                    add to cart
                </a>
            </td>
        </tr>
        </div>

        <div class="row">
            <tr ng-repeat="product in store.products.yamahaes | orderBy:'name' | filter:search" >
                <td class="col-sm-3 tdCenter img-hide"> <img ng-src="../../images/yamaha/{{product.image}}.jpg" alt="{{product.name}}" /></td>
                <td class="col-sm-3">
                    <a href="/products/{{product.branch}}"><b>{{product.name}}</b></a><br />
                    <div ng-repeat="a in product.description">
                        <ul>
                            <li>{{a.content}}</li>
                        </ul>
                    </div>
                </td>
                <td class="col-sm-3 tdCenter">
                    {{product.price | currency}}
                </td>
                <td class="col-sm-3 tdCenter">
                    <a href="" ng-click="cart.addItem(product.branch, product.name, product.price, 1)" class="btn btn-success">
                        add to cart
                    </a>
                </td>
            </tr>
        </div>

        <div class="row">
            <tr ng-repeat="product in store.products.hondaes | orderBy:'name' | filter:search" >
                <td class="col-sm-3 tdCenter img-hide"> <img ng-src="../../images/honda/{{product.image}}.jpg" alt="{{product.name}}" /></td>
                <td>
                    <a href="/products/{{product.branch}}"><b>{{product.name}}</b></a><br />
                    <div ng-repeat="a in product.description">
                        <ul>
                            <li>{{a.content}}</li>
                        </ul>
                    </div>
                </td>
                <td class="col-sm-3 tdCenter">
                    {{product.price | currency}}
                </td>
                <td class="col-sm-3 tdCenter">
                    <a href="" ng-click="cart.addItem(product.branch, product.name, product.price, 1)" class="btn btn-success">
                        add to cart
                    </a>
                </td>
            </tr>
        </div>

        <div class="row">
            <tr ng-repeat="product in store.products.kawasakies | orderBy:'name' | filter:search" >
                <td class="col-sm-3 tdCenter img-hide"> <img ng-src="../../images/kawasaki/{{product.image}}.jpg" alt="{{product.name}}" /></td>
                <td class="col-sm-3 tdCenter">
                    <a href="/products/{{product.branch}}"><b>{{product.name}}</b></a><br />
                    <div ng-repeat="a in product.description">
                        <ul>
                            <li>{{a.content}}</li>
                        </ul>
                    </div>
                </td>
                <td class="col-sm-3 tdCenter">
                    {{product.price | currency}}
                </td>
                <td class="col-sm-3 tdCenter">
                    <a href="" ng-click="cart.addItem(product.branch, product.name, product.price, 1)" class="btn btn-success">
                        add to cart
                    </a>
                </td>
            </tr>
        </div>

        <div class="row">
            <tr ng-repeat="product in store.products.suzukies | orderBy:'name' | filter:search" >
                <td class="col-sm-3 tdCenter img-hide"> <img ng-src="../../images/suzuki/{{product.image}}.jpg" alt="{{product.name}}" /></td>
                <td class="col-sm-3 tdCenter">
                    <a href="/products/{{product.branch}}"><b>{{product.name}}</b></a><br />
                    <div ng-repeat="a in product.description">
                        <ul>
                            <li>{{a.content}}</li>
                        </ul>
                    </div>
                </td>
                <td class="col-sm-3 tdCenter">
                    {{product.price | currency}}
                </td>
                <td class="col-sm-3 tdCenter">
                    <a href="" ng-click="cart.addItem(product.branch, product.name, product.price, 1)" class="btn btn-success">
                        add to cart
                    </a>
                </td>
            </tr>
        </div>

        <div class="row">
            <tr ng-repeat="product in store.products.harleys | orderBy:'name' | filter:search" >
                <td class="col-sm-3 tdCenter img-hide"> <img ng-src="../../images/harley/{{product.image}}.jpg" alt="{{product.name}}" /></td>
                <td class="col-sm-3 tdCenter">
                    <a href="/products/{{product.branch}}"><b>{{product.name}}</b></a><br />
                    <div ng-repeat="a in product.description">
                        <ul>
                            <li>{{a.content}}</li>
                        </ul>
                    </div>
                </td>
                <td class="col-sm-3 tdCenter">
                    {{product.price | currency}}
                </td>
                <td class="col-sm-3 tdCenter">
                    <a href="" ng-click="cart.addItem(product.branch, product.name, product.price, 1)" class="btn btn-success">
                        add to cart
                    </a>
                </td>
            </tr>
        </div>
    </table>

</div>